*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

header{
    width: 100%;
    height: 125px;
    background-color: rgba(0,149,136,255);
}


main{
    width: 100%;
    height: 800px;
    position: inherit;
    top: -75px;   
}

/* CONTAINER */
.container{
    width: 1686px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid gray;
}

/* ROW */
.row{
    display: flex;
    flex-wrap: wrap;
}

/* COL */
.col-33{
    width: calc(100% / 3.3);
    height: 798px;
    background-color: white;
    border: 1px solid gray;
}

.col-70{
    width: 1173px;
}

/* */
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

/* AVATAR */
.avatar{
    border-radius: 500px;
    max-width: 50px;
}

/* HEADER */
.header-col-33{
    background-color: rgba(234, 234, 234, 255);
    width: 100%;
    height: 64px;
    display: flex;
    padding: 6px 5px;
}

.header-col-50{
    width: calc(100% / 2);
    height: 52px;
}

.symbol{
    font-size: 25px;
    padding: 13px 10px;
    color: rgba(177,177,177,255);
}


/* MAIN */
.main-top-col-33{
    background-color: white;
    width: 100%;
    height: 130px;
}

.main-top-col-50{
    background-color: rgba(143,218,252,255);
    width: 100%;
    height: 60%;
    display: flex;
}

.circle{
    background-color: white;
    border-radius: 50px;
    padding: 10px 10px;
    width: 55px;
    margin: 12px;
}

.notifiche{
    height: 35px;
    font-size: 22px;
    margin: 14px 0px;
}

.main-bottom-col-50{
    width: 100%;
    height: 40%;
    padding: 10px 10px;
}

.button{
    font-size: 20px;
    border-radius: 20%;
    border: none;
}

.search{
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.main-bottom-col-33{
    background-color: white;
    width: 100%;
    height: 603px;
    overflow: overlay;
}

.main-col-50{
    width: 489px;
    height: 75px;
    padding: 10px 10px;
    display: flex;
}

.information-avatar{
    width: 210px;
    margin-left: 10px;
    padding: 5px 5px;
}

.name{
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.comment{
    padding-top: 3px;
    font-family: arial;
}

.orario{
    width: 200px;
    text-align: right;
    padding-top: 15px;
    color: rgba(193,193,193,255);
}

/* CHAT */
.header-col-70 {
    background-color: rgba(234, 234, 234, 255);
    width: 1174px;
    height: 64px;
    display: flex;
    padding: 6px 10px;
}

.header-col-50-right{
    width: 50px;
    height: 52px;   
}

.information-avatar-2{
    width: 500px;
    margin-left: 10px;
    padding: 5px 5px;
}

.ultimo-accesso{
    font-family: arial;
    color: rgba(193,193,193,255);
}

.main-right{
    background-image: url(img/mine.jpg);
    width: 1174px;
    height: 674px;
    overflow: overlay;
}

.col-text{
    width: 100%;
    display: flex;
}

.text-io{
    background-color: rgba(212, 249, 187, 255);
    margin-left: 580px;
    margin-right: 110px;
    margin-top: 40px;
    padding: 15px 15px;
    border-radius: 15px;
}

.fa-angle-down{
    color: rgba(193, 193, 193, 255);
    padding-left: 10px;
}

.orario-messaggio{
    padding-top: 70px;
    color: rgba(193, 193, 193, 255);
    font-size: 13px;
}

.text-tu{
    background-color: white;
    margin-left: 110px;
    margin-right: 580px;
    margin-top: 10px;
    padding: 15px 15px;
    border-radius: 15px;
}

.chatbox{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-face-smile{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.barra-messaggi{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.fa-microphone{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}